.App {
  text-align: center;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 1s ease all;
  gap: 3rem;
}

.dark{
  background: #091921;
}

.light{
  background: whitesmoke;
}

.clockDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 5rem;
}

@media screen and (max-width:600px) {
  .App {
    gap: 1rem;
  }
  .clockDiv{
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 1rem;
  }

}
